[submodule "server"]
	path = server
	url = https://github.com/ViniZap4/devnook-server.git
[submodule "web-client"]
	path = web-client
	url = https://github.com/ViniZap4/devnook-web.git
[submodule "tui-client"]
	path = tui-client
	url = https://github.com/ViniZap4/devnook-tui.git
